body {
  background-color: white;
  text-align: center;
  font-family: "Bellefair";
}
h1{
  color: #0D814F;
  padding: 20px;
  background-color: none;
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
}
.goto {
  text-decoration: none;
  background-color: none;
  border: none;
  padding: 20px 50px;
  /*display: inline-block;*/
  color: #21A56C;
  text-align: center;
  font-size: 23px;
  font-family: 'Sacramento', cursive;
}

.goto:hover{
  text-decoration: underline;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.droptions {
    display: none;
    position: relative;
    background-color: white;
    padding: 8px 10px;
}

.gotoMini{
  text-decoration: none;
  color: #21A56C;
}

.dropdown:hover .droptions {
    display: block;
}

.gotoMini:hover{
  text-decoration: underline;
}

#paraText {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Bellefair', serif;
}

img{
  width: 50%;
  border-radius: 50%;
}
