body {
  background-color: white;
  text-align: center;
  font-family: "Bellefair", serif;
}
.head{
  color: #0D814F;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  /*border-bottom: thin solid black;*/
}

/* ul{
    border-bottom: thin solid #21A56C;
    position: fixed;
    overflow: auto;
} */

nav ul li, .goto {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  color: #21A56C;
  font-size: 23px;
  font-family: 'Sacramento', cursive;
  margin-right: 20px;
}

.goto:hover{
  text-decoration: underline;
}

.reflections{
  position: relative;
  display: inline-block;
}

.droptions {
    display: none;
    position: absolute;
    background-color: white;
    padding: 8px 10px;
}

.gotoMini{
  text-decoration: none;
  font-family: "Bellefair", serif;
  font-size: 15px;
  color: #21A56C;
}

.reflections:hover .droptions {
    display: block;
}

.gotoMini:hover{
  text-decoration: underline;
}

#paraText {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Bellefair', serif;
}

img{
  width: 50%;
  border-radius: 50%;
}
